
.limit{
  width:50px;
  border: none;
  border-bottom: 2px;
}
.show{
  text-align: end;
}
.searchDiv{
  display: flex;
  justify-content: end;
  gap:10px;
}
.searchBox{
  border: none;
  border-bottom: 1px solid;
}
.search{
  background-color: rgb(22, 152, 222);
  color:white;
  border: none;
  border-radius: 3px;
  padding:2px;
}
.table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  width: 70%;
}
.tr:hover{
  background-color: rgb(199, 199, 199);
  cursor: pointer;
}
.th,.td{
  padding:15px;
  border: 1px solid #ddd;
}
.th:hover{
  background-color: #ddd;
  /* cursor: pointer; */
}
.td{
  width:100px;
}

.pagination{
  margin-top: 5%;
}
.iconHead{
  padding-left:5px;

}
.colHead{
  display: flex;
  justify-content: center;
}
.sortUp{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  margin-top: 2px;
}
.sortUp:hover,.sortDown:hover,.filter_icon:hover{
  cursor: pointer;
}
.sortDown{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  margin-top: 5px;
}
.filters{
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.textFilters{
  border:1px solid #ddd;
  box-shadow: 0.1em 0.1em 5px 3px #ddd;
  position: absolute;
  width: max-content;
  text-align: left;
  font-weight: 100;
  background-color: rgb(241, 239, 239);
}

.eachFilter:hover{
  background-color: #ddd;
  cursor: pointer;
}

.over{
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  background-color:rgba(221, 221, 221, 0.756);
}
.modal{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  border-radius:10px 10px;
  padding:2%;
  background-color:lavenderblush;
}

.filterInput{
  border: none;
  border-bottom: 1px solid;
  background-color:lavenderblush;

}
.hr{
  border: 1px dotted #ddd;
  padding: 0;
}
.submit{
  background-color: rgb(3, 194, 3);
  border: none;
  border-radius: 2px;
  padding: 2px;
}
.cancel{
  background-color: red;
  border:none;
  margin-left: 10px;
  border-radius: 2px;
  padding: 2px
}
.ul{
  display: flex;
  justify-content: center;
  gap:50px;
}
.li{
  float: left;
  list-style: none;
  background-color: #ddd;
  /* width:50%; */
  text-align: center;
  padding:5px 10px;
  border-radius:5px ;
}
.li:hover{
  cursor: pointer;
}
.liActive{
  float: left;
  list-style: none;
  background-color: rgb(126, 126, 126);
  color:white;
  text-align: center;
  padding:5px 10px;
  border-radius:5px ;
}
.li:hover{
  background-color: rgb(126, 126, 126);
  color: white;
}
.a:hover{
  cursor: pointer;
}
.liInActive{
  visibility: hidden;
}

